<div>
  <dt>Reviewer</dt>
  <% if user = User.find_by(id: review.user_id) %>
    <dd><%= user.first_name %></dd>
  <% else %>
    <dd>AnonyCats</dd>
  <% end %>
  <dt>Description</dt>
  <dd><%= review.description %></dd>
  <dt>rating</dt>
  <dd><%= review.rating %></dd>
  <br>
</div>